snippet hdr
	/*
	 * =====================================================================
	 *        Version:  1.0
	 *        Created:  `strftime("%x")` `strftime("%X")`
	 *         Author:  `g:snips_author`
	 *        Company:  `g:snips_company`
	 * =====================================================================
	 */

	${1}
