[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = git://github.com/vim-scripts/tlib.git
[submodule "bundle/project"]
	path = bundle/project
	url = git://github.com/vim-scripts/project.tar.gz.git
[submodule "bundle/align"]
	path = bundle/align
	url = git://github.com/vim-scripts/Align.git
