[submodule "pack/tpope/start/fugitive"]
	path = pack/tpope/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "pack/plugins/start/fugitive"]
	path = pack/plugins/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "pack/plugins/opt/YouCompleteMe"]
	path = pack/plugins/opt/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "pack/plugins/opt/ale"]
	path = pack/plugins/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/plugins/start/ctrlp-py-matcher"]
	path = pack/plugins/start/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher.git
[submodule "pack/plugins/start/ctrlp"]
	path = pack/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/plugins/opt/ctrlp"]
	path = pack/plugins/opt/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/plugins/opt/ctrlp-py-matcher"]
	path = pack/plugins/opt/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher.git
[submodule "pack/plugins/opt/delimitMate"]
	path = pack/plugins/opt/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/plugins/start/editorconfig-vim"]
	path = pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/plugins/opt/emmet-vim"]
	path = pack/plugins/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/plugins/opt/gundo"]
	path = pack/plugins/opt/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "pack/plugins/opt/nerdcommenter"]
	path = pack/plugins/opt/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "pack/plugins/start/powerline"]
	path = pack/plugins/start/powerline
	url = https://github.com/powerline/powerline.git
[submodule "pack/plugins/opt/python-mode"]
	path = pack/plugins/opt/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "pack/plugins/start/python-mode"]
	path = pack/plugins/start/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "pack/plugins/opt/vim-snippets"]
	path = pack/plugins/opt/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/plugins/opt/ultisnips"]
	path = pack/plugins/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/plugins/opt/vim-bufferlist"]
	path = pack/plugins/opt/vim-bufferlist
	url = https://github.com/roblillack/vim-bufferlist.git
[submodule "pack/plugins/opt/vim-css3-syntax"]
	path = pack/plugins/opt/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "pack/plugins/opt/tagbar"]
	path = pack/plugins/opt/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/plugins/start/vim-indent-guides"]
	path = pack/plugins/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "pack/plugins/opt/vim-javascript"]
	path = pack/plugins/opt/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/plugins/start/vim-signify"]
	path = pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/plugins/opt/vim-signify"]
	path = pack/plugins/opt/vim-signify
	url = https://github.com/mhinz/vim-signify.git
